@CHARSET "UTF-8";


body
{
	margin:0;
	padding:0;
	font-family: sans-serif;
	min-width: 800px;
}

#content
{
	margin: 0 25px;
}

#userbar
{
	height: 35px;
	line-height: 35px;
	background: #333;
	margin:0;
	padding: 0 25px;
}

#userbar > button
{
	font-size: 10px;
}


#userbar > span
{
	color: #ddd;
}

#header > img
{
	float: right;
	height: 90px;
}

#header
{
	height: 90px;
	line-height: 90px;
	background:#ddd;
	padding: 0 25px;
	margin-bottom:15px;
}

#header > span
{
	font-size: 25px;
}

#tabs
{
	
}

#tabs div
{
	
}

#tabs>ul
{
	background-color: #666;
	margin:0;
		padding:5px;()
	

}

#tabs>ul>li > a
{

	color:#FFF;
}

#tabs>ul:AFTER
{
	display: table;
	content: "";
	clear:both;
}
	
#tabs>ul>li
{
	display: block;
	float:left;
	margin:0 0 0 15px;
	padding:0;
}

#courseform
{
	float:left;
}

#courselist
{
	border-left: 1px dashed #555;
	margin-left:20px;
	padding-left:10px;
	float:left;
}



.SEsupermodal
{
	 

   
    overflow: auto;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
    
     
     display:block;
   
    z-index: 1050;
   

}

.SEsupermodal >div
{
	 background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
   
   display: table;
	/*width:90%;*/
	margin: 60px auto;
}

.SEsupermodal .modal-body
{
	max-height:none;
}

.SEinline
{
	margin-left: 0;
	margin-right: 10px;
}



.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; position: relative; top: 1px; border-color: #666;  }

.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

#nav-container > .navbar
{
	margin-bottom: 5px;
}

#nav-container
{
	margin-bottom: 13px;
}

.sorting > i{
     display:none;
}


.sorting_asc > .icon-chevron-down{
     display:none;
}

.sorting_desc > .icon-chevron-up{
	    display:none;
}

#userstable thead td
{
	border-bottom: 3px solid #DDDDDD;
}

.usertablewrapper
{
	 border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	background:#FFF;
}

