/**
 * Stylesheet for Solid Eagle
 *
 * @author	Bruno Bodson
 */
        .clearfix:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
        }
        
        button#logoutBtn {
                float: right;
        }

/*EOF*/