<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">
<head>
    <title>Centraal gebruikersbeheer DBZ</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

    <link rel="stylesheet" type="text/css" media="screen" href="core/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="core/css/forms.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="core/css/screen.css" />
</head>
<body>
    
<div id="wrapper">

    <div id="header">

        <h1>Centraal gebruikersbeheer DBZ</h1>

        <div id="menu">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Beheer</a></li>
                <li><a href="#">Setup</a></li>
            </ul>
            <div id="search">
                <form action="#" method="post" id="searchAccounts">
                    <dl>
                        <dt><input type="text" id="searchField" size="20" name="searchField" /></dt>
                        <dd><input type="submit" id="searchBtn" name="searchBtn" value="Zoek account" /></dd>
                    </dl>
                </form>
            </div>
        </div>

        <div id="loggedInAs">
            <p>Welkom, voornaam.naam <a href="#">logout</a></p>
        </div>
        
    </div>

        <div id="content">
            
        </div>

        <div id="footer">
            <p>footer 2012</p>
        </div>

</div>
        
</body>
</html>